[Unit]
Description=CAJA Cloudflare Access JWT Auth
After=network-online.target
StartLimitInterval=0

[Service]
Environment=CF_POLICY_AUD={{ rundeck_cf_access_audience }}
Environment=CF_AUTH_DOMAIN={{ rundeck_cf_access_domain }}
Environment=CF_IDENTITY_PROVIDER={{ rundeck_cf_access_idp }}
User=nobody
ExecStart=talisker.gunicorn caja.main:app --bind 127.0.0.1:5001 --worker-class sync --workers 4 --name talisker-caja
SyslogIdentifier=caja
Restart=always
RestartSec=1
IPAddressDeny=any
IPAddressAllow=localhost 127.0.0.1/32
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
PrivateDevices=yes
DevicePolicy=closed
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target

