server {
    listen 127.0.0.1:80;
    server_name {{ rundeck_domain }};

    access_log  /var/log/nginx/{{ rundeck_domain }}.log;

    location = /_auth {
            internal;
            proxy_pass http://127.0.0.1:5001/;
            proxy_pass_request_body off;
            proxy_set_header        Content-Length "";
            proxy_set_header        X-Original-URI $request_uri;
    }
    location / {
        auth_request        /_auth;
        auth_request_set    $auth_fwd_user $upstream_http_x_forwarded_principal;
        auth_request_set    $auth_fwd_roles $upstream_http_x_forwarded_roles;
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto $scheme;
        proxy_set_header    X-Forwarded-Roles     $auth_fwd_roles;
        proxy_set_header    X-Forwarded-Principal $auth_fwd_user;

        proxy_pass          http://127.0.0.1:4440;
        proxy_read_timeout  90;

        proxy_redirect      http://127.0.0.1:4440 https://{{ rundeck_domain }};
    }
}

